@font-face {
    font-family: 'Champagne & Limousines';
    src: url('../fonts/ChampagneLimousines.woff2') format('woff2'),
        url('../fonts/ChampagneLimousines.woff') format('woff'),
        url('../fonts/Champagne\ &\ Limousines.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
