.footer{
    padding-top: 100px;
    background: #E5E5E5;
    &__item{
        display: flex;
        justify-content: space-between;
    }
    &__list-item{
        margin-bottom: 30px;
    }
    &__list-link{
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color:#2D3538;
        font-family: var(--font);
    }
    &__list-icons{
        display: flex;
        margin-left: 30px;;
    }
    &__list-icon{
        margin-right: 50px;
    }
    @media (min-width: 768px){
        .footer__item{
            display: contents;
        }
        .footer__inner{
            display: flex;
            justify-content: space-between;
        }
        .footer__list-icons{
            align-items: center;
        }
    }
}