.header{
    background: url('../img/bg_mobile.png') center;
    height: calc(100vh + 70px);
   background-size: cover;
    position: relative;
    &__content{
        display: none;
    }
    &__list{
        display: none;
    }
    &__top-tel{
        display: none;
    }
    &__top-inner{
        display: flex;
        padding-top: 15px;
        align-items: center;
        justify-content: center;
        margin-bottom: 75%;
    }
    &__top-btn{
        background: transparent;
        border: none;
    }
   
    &__top-link{
        margin-right: 10%;
        margin-left: 18%;   
    }
    &__body-title{
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
        font-family: var(--font);
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 7%;
    }
    &__body-text{
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        font-family: var(--font);
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 7%;
    }
    &__body-btn{
        margin: 0 auto;
        background: #2D3538;
        font-size: 11px;
        line-height: 12px;
        color: #EFD2C2;
        padding: 8px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12.1%;
        
        @media(min-width: 375px){
            margin-bottom: calc(12.1% + 71px);
        }
        @media only screen and (min-height: 812px){
            margin-bottom: calc(47.1% + 71px);
        }
    }
   
    &__bottom{
        background: #2D3538;
        height: 70px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
    }
    &__bottom-text{
        font-size: 15px;
        line-height: 17px;
        font-weight: 400;
        font-family: var(--font);
        color: #EFD2C2;
        text-align: center;
        
        align-items: center;
    }
    &__top-btn-menu{
        background: transparent;
        border: none;
    }
    &__button{
        display: none;
    }
    .search{
        z-index: 10;
        background-color: #EFD2C2;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 5px 5px;
        height: 20px;
        width: 0;
        opacity: 0;
        transition: .3s;
    }
    .active{
        opacity: 1;
        max-width: 150px;
        width: 100%;
        transition: .3s;
      }
}

.aside{
    position: absolute;
    z-index: 0;
    padding-top: 15px;
    transition: .5s;
    background-color: #fff;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
    
    &__button{
        display: flex;
        justify-content: space-between;
    }
    &__list{
        margin-top: 66px;
    }
    &__list-item{
        margin-bottom: 40px;
    }
    &__list-link{
        font-family: var(--font);
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #2D3538;
    }
    &__social{
        display: flex;
        justify-content: space-between;
        margin-top: 76px;
    }
    &__social-item{
        border: 1px solid #2D3538;
        padding: 15px;
    }
    &__tel{
        color:#EFD2C2;
        font-family: var(--font);
        font-weight: 400;
        font: 18px;
        line-height: 21px;
    }
    &__top-btn{
        background: transparent;
        border: none;
    }
    &__top-btn:nth-child(2){
        margin-left: 87px;
    }
  &__top-btn-close{
    background: transparent;
    border: none;
  }
}
.aside--close{
    z-index: 1;
    transition: .6s;
    transform: translateX(0);
    
    
}


// Header-desktop
// @media (min-width: 768px){
//     .header{
//         background-image: url('../img/background.png');
//         height: calc(100vh + 105px + 70px);
//     }
// }
@media (min-width: 920px){
   
    .header .header__body{
        display: none;
    }
    .header .header__bottom{
        display: none;
    }
    .header__top .container{
        // display: contents;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
    }
    .header{
        background-image: url('../img/background.png');
        height: calc(100vh + 175px);
        position: relative;
    }
    .header__top{
        background: #fff;
        max-height: 105px;
        height: 100%;
        // display: grid;
        // grid-template-columns: repeat(3, 2fr);
        padding: 0 15px;
    }
    .header__top-btn-menu{
        display: none;
    }
    .header__list{
        display: block;
        display: flex;
        margin-right: 10%;
        grid-row: 2/2;
        line-height: 105px;
    }
    .header__top-inner{
        margin-bottom: 20px;
        grid-row: 2/2;
    }
    .header__list-item{
        margin-right: 6%;
        position: relative;
    }
    .header__list-item::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #000;
    }
    .header__list-item:hover::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
        transition: .3s;
    }
    .header__list-link{
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        font-family: var(--font);
        color: #2D3538;
    }
    .header__list-item:last-child{
        margin-right: 0;
    }
    .header__top-link{
        margin-right: 20%;
        
        grid-row: 2/2;
        
    }
    .header__top-tel{
        display: block;
        margin-right: 25px;
        grid-column: 3/3;
        grid-row: 2/2;
        line-height: 105px;
        max-width: 180px;
        width: 100%;
        font-size: 18px;
        
        font-weight: 400;
        color: #EFD2C2;

        position: relative;
    }
    .header__top-tel::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #EFD2C2;
    }
    .header__top-tel:hover::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #EFD2C2;
        transition: .3s;
    }
    .header__button{
        display: block;
        grid-row: 2/2;
        grid-column: 3/3;
        justify-self: end;
        line-height: 105px;
    }
    .header__button-two{
        display: none;
    }
    .header__content{
        display: block;
        margin-top: 25%;
    }
    .content__body-title{
        font-size: 55px;
        line-height: 63px;
        font-weight: 400;
        font-family: var(--font);
        color: #000;
        margin-bottom: 5%;
    }
    .content__body-text{
        font-weight: 400;
        font-size: 29px;
        line-height: 33px;
        color: #000;
        font-family: var(--font);
        margin-bottom: 5%;
    }
    .content__body-btn{
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        color: #000;
        font-family: var(--font);
        background: transparent;
        border: 1px solid #EFD2C2;
        padding: 18px 28px;
    }
    .content__bottom{
        // margin-top: 60%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2D3538;
        height: 70px;
    }
    .content__bottom-text{
        font-size: 40px;
        line-height: 46px;
        font-weight: 400;
        color: #EFD2C2;
        font-family: var(--font);
        text-align: center;
    }
    .content__body-btn{
        transform: scale(1);
    }
    .content__body-btn:hover{
        transform: scale(1.1);
        transition: .3s;
    }
    .search{
        z-index: 10;
        background-color: #EFD2C2;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 5px 5px;
        height: 20px;
        width: 0;
        opacity: 0;
        transition: .3s;
    }
    .active{
        opacity: 1;
        max-width: 150px;
        width: 100%;
        transition: .3s;
      }
}
