@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
    }
    .wrapper{
        overflow-x: hidden;
        position: relative;
    }
@import 'fonts';
@import 'reset';
@import 'global';
@import 'vars';
@import 'header';
@import 'index';
@import 'footer';
// @import '../bootstrap/bootstrap-grid.scss';
// Чтобы подключить слайдер, сначала подключаем slick-theme.scss, а потом slick.scss
@import 'slick-theme';
@import 'slick';